.search-container {
  display: inline-block;
  width: 53%;

  @media (max-width: $screen-sm-max) {
    width: calc(100% - 120px);
  }
}

.header-site-search {
  width: 400px;
  background: $sc-neutral-shade-0;
  float: right;
  margin-top: 12px;

  @media (max-width: $screen-sm-max) {
    width: 100%;
    margin: 0;
    background: transparent;
  }
}

.header-menu-search-icon,
.header-menu-searchmobile-icon {
  @extend .fa;
  @extend %fa-search;
}

.header-menu-searchmobile-icon {
  color: $sc-color-secondary;
  font-size: $sc-font-size-l;
  line-height: $sc-target-size;
  min-width: $sc-target-size;
}

.site-search {
  @extend .nav-search;
  padding: 0px;
  background-color: $tt-theme-header-search-background-color;

  @media (max-width: $screen-sm-max) {
    background-color: transparent;
  }
}

.site-search-content {
  @extend .nav-search-content;
  width: auto;
}

.site-search-content-form {
  height: 100%;
  border-radius: $sc-border-radius;
  //border-bottom: 1px solid $tt-theme-header-search-color;
  border-bottom: 1px solid #3c896d;

  //border-top: 1px solid $tt-theme-header-search-color;
  border-top: 1px solid #3c896d;

  //border-left: 1px solid $tt-theme-header-search-color;
  border-left: 1px solid #3c896d;
  background-color: $tt-theme-input-background-color;

  @media (max-width: $screen-sm-max) {
    //border: 1px solid $tt-theme-header-search-color-mobile;
    border: 1px solid #3c896d;
    background-color: transparent;
  }
}

.site-search-content-input {
  @extend .nav-search-content-input;
  height: 100%;
  .site-search-content-view {
    height: 100%;
  }
  .itemssearcher-input {
    border: none;
  }
  .itemssearcher-input:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }
  input[type="search"] {
    @include placeholder {
      //color: $tt-theme-header-search-font-placeholder;
      color: #40514e;

      @media (max-width: $screen-sm-max) {
        color: rgb(255, 255, 255);
      }
    }
  }
}

.site-search-input-icon {
  @extend .nav-search-input-icon;
  font-size: $sc-font-size-xxl;
}

.site-search-input-reset {
  @extend .nav-search-input-reset;
  right: 50px;

  @media (max-width: $screen-sm-max) {
    right: 11px;
  }
}

.site-search-button-submit {
  @extend .nav-search-button-submit;
  background: #3c896d !important;
  height: 100%;
  width: 70px;

  @media (max-width: $screen-sm-max) {
    width: 40px;
  }
}

.site-search-button-close {
  @extend .nav-search-button-close;
}

.site-search-input-reset-icon {
  @extend .nav-search-input-reset-icon;
}

.nav-search-input-reset {
  background-color: transparent;
}

.nav-search-input-reset-icon {
  color: $tt-theme-header-search-reset-icon-color;
  @media (max-width: $screen-sm-max) {
    color: $tt-theme-header-search-color-mobile;
  }
}

.nav-search-content:after,
.site-search-content:after {
  display: none;
}
