// Form
div#footer-newsletter-container {
  // Text Input
  ::-webkit-input-placeholder {
    //color: $sc-footer-text-color;
    color: rgb(48, 48, 48);
  }
  :-moz-placeholder {
    //color: $sc-footer-text-color;
    color: rgb(48, 48, 48);
  }
  ::-moz-placeholder {
    //color: $sc-footer-text-color;
    color: rgb(48, 48, 48);
  }
  :-ms-input-placeholder {
    //color: $sc-footer-text-color;
    color: rgb(48, 48, 48);
  }
  input {
    @extend .this-full-width;
    font-size: $sc-font-size-m;
    //color: $sc-footer-text-color;
    color: black;
    padding: $sc-padding-lv2;
    margin-bottom: $sc-margin-lv3;
    background: transparent;
    border: none;
    //border: 1px solid $sc-footer-buttons-border-color;
    border: 1px solid;
    font-weight: $sc-font-weight-light;
    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }
  // messages
  .newsletter-suscription-form p {
    margin-top: $sc-padding-lv3;
    text-transform: none;
    font-size: $sc-font-size-s;
    // color: $sc-color-error;
    color: $sc-footer-link-color;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid transparentize($sc-color-error, 0.5);
    padding: $sc-padding-lv2;
    border-radius: $sc-border-radius;
  }
  // Subscribe Button
  button {
    @extend .button-secondary;
    @extend .button-medium;

    font-size: $sc-font-size-m;
    width: 100%;
    height: 44px;
    background-color: transparent;
    color: #50ffb1;
    border-color: #50ffb1;
    // Custom Button Colors
    //background-color: $sc-footer-buttons-background-color;
    //color: $sc-footer-buttons-text-color;
    //border-color: $sc-footer-buttons-border-color;
    &:hover,
    &:focus,
    &:active {
      background-color: black;
      color: #50ffb1;
      border-color: black;
    }
  }
}

div.footer-content-nav-column {
  // Error
  div.global-views-message-error {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: $sc-footer-link-color !important;
    border: 1px solid transparentize($sc-color-error, 0.4) !important;

    button.global-views-message-button {
      border: none !important;
      background-color: rgb(0, 0, 0) !important;
      color: $sc-footer-link-color !important;

      padding: 0 !important;
      height: 18px !important;
      width: 19px !important;
      &:hover {
        background-color: transparent !important;
      }
    }
  }

  .global-views-message {
    margin-top: $sc-margin-lv3;
    text-transform: capitalize;
  }

  // Success
  div.global-views-message-success {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: $sc-footer-link-color !important;
    border: 1px solid transparentize($sc-color-success, 0.4) !important;

    button.global-views-message-button {
      border: none !important;
      background-color: rgb(0, 0, 0) !important;
      color: $sc-footer-link-color !important;

      padding: 0 !important;
      height: 18px !important;
      width: 19px !important;
      &:hover {
        background-color: transparent !important;
      }
    }
  }

  // Warning
  div.global-views-message-warning {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: $sc-footer-link-color !important;
    border: 1px solid transparentize($sc-color-warning, 0.4) !important;

    button.global-views-message-button {
      border: none !important;
      background-color: rgb(0, 0, 0) !important;
      color: $sc-footer-link-color !important;

      padding: 0 !important;
      height: 18px !important;
      width: 19px !important;
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}

div#footer-newsletter-container
  .global-views-message-button[data-action="close-message"] {
  padding: 0px;
  background: $sc-color-secondary;
  color: #333;
  height: 15px !important;
  width: 15px !important;
  line-height: 15px;
  &:hover {
    background: transparent;
    border: 1px solid $sc-color-secondary;
    color: $sc-color-theme;
  }
}
