.cms-about-us
{
  margin-bottom: $sc-margin-lv8;

  h1 {
    font-weight: $sc-font-weight-semibold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: $sc-padding-lv3 0;
    margin-bottom: $sc-margin-lv3;
    border-bottom: 1px solid $sc-color-theme-border-light;
  }
  // h3 { font-size: $sc-font-size-l; }
}