$header-menu-level1-height: 55px;

///////////////////////////////////////////////////////////////
//header secondary nav
.header-menu-secondary-nav {
  @extend .container;
}

///////////////////////////////////////////////////////////////
//header search

.header-menu-search {
  float: right;
}

.header-menu-search-link {
  font-size: $sc-font-size-xl;
  background: none;
  padding: $sc-padding-lv2;
  color: $sc-color-secondary;
  cursor: pointer;
  position: relative;
  line-height: 34px;
}

.header-menu-search-link:hover {
  color: $sc-color-theme-500;
}

.header-menu-search-link.active {
  color: $sc-color-copy;
}

.header-menu-search-icon {
  @extend .fa;
  @extend %fa-search;
  font-size: 20px;
}

.header-menu-searchmobile-link {
  margin-right: 0;
  cursor: pointer;
  background: none;

  @media (min-width: $screen-sm-min) {
    margin-right: $sc-margin-lv2;
  }
}

.header-menu-searchmobile-link.active {
  background: $sc-color-theme-background;
}

///////////////////////////////////////////////////////////////
//header menu

.header-menu-level1 {
  // margin-left: - ($sc-padding-lv2);
  // position: relative;

  li {
    position: relative;
    // border-right: 1px solid $sc-main-navigation-link-border-color;
    // &:first-of-type { border-left: 1px solid $sc-main-navigation-link-border-color; }
  }
}

.header-menu-level1 > li {
  float: left;
}

.header-menu-level1-anchor {
  display: block;
  position: relative;
  color: $sc-main-navigation-link-color;
  text-transform: $sc-main-navigation-link-text-transform;
  line-height: $header-menu-level1-height;
  letter-spacing: 1px;
  padding: 0px $sc-padding-lv3;
  @include transition-duration(0.3s);

  .header-menu-level1-anchor-icon {
    color: $sc-main-navigation-link-color;
    float: right;
    margin-left: $sc-padding-lv1;
    font-size: 16px;
    line-height: $header-menu-level1-height;
    @extend .icon-angle-down;
    @include transition-duration(0.2s);
  }

  &:hover,
  &:focus {
    color: $sc-main-navigation-link-hover-color;
    background-color: $sc-main-navigation-link-hover-background-color;

    .header-menu-level1-anchor-icon {
      color: $sc-main-navigation-link-hover-color;
    }
  }
  &:active {
    color: $sc-main-navigation-link-active-color;
    background-color: $sc-main-navigation-link-active-background-color;

    .header-menu-level1-anchor-icon {
      color: $sc-main-navigation-link-active-color;
    }
  }
}

.header-menu-home-anchor,
.header-menu-shop-anchor {
  @extend .header-menu-level1-anchor;
}

//menu anchors level 2 and 3
.header-menu-level2-anchor,
.header-menu-level3-anchor {
  display: block;
  padding: 0 $sc-padding-lv2;
  line-height: 36px;
  margin-bottom: 0;
  border-bottom: 1px solid $sc-main-navigation-submenu-heading-border-color;
  font-weight: $sc-font-weight-normal;
}

//menu level 2
.header-menu-back {
  display: none;
}

.header-menu-level2-anchor {
  color: $sc-main-navigation-submenu-heading-color;
  pointer-events: auto !important;
  text-transform: $sc-main-navigation-submenu-heading-text-transform;
  text-decoration: $sc-main-navigation-submenu-heading-text-decoration;

  i.header-menu-level2-anchor-icon {
    color: $sc-main-navigation-submenu-heading-color;
    float: right;
    margin-left: $sc-padding-lv1;
    line-height: 36px;
    @extend .icon-angle-right;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $sc-main-navigation-submenu-heading-color;
  }
}

//menu level 3
.header-menu-level3 {
  display: none;
  position: absolute;
  top: -1px;
  left: 250px;
  width: 250px;
  background-color: $sc-main-navigation-submenu-background-color;
  border-top: 1px solid $sc-main-navigation-submenu-heading-border-color;

  @include box-shadow(
    6px 6px 12px transparentize($sc-neutral-shade-500, 1-0.175)
  );

  li {
    border: none !important;
  }

  .header-menu-level3-anchor {
    color: $sc-main-navigation-submenu-link-color;
    border-left: 1px solid $sc-main-navigation-submenu-heading-border-color;

    &:hover,
    &:focus {
      color: $sc-main-navigation-submenu-link-hover-color;
    }
    &:active,
    &.active {
      color: $sc-main-navigation-submenu-link-active-color;
    }
  }
}

//container fix for menu on desktop
.header-menu-push-icon,
.header-menu-pop-icon {
  display: none;
}

.header-menu-level-container {
  background-color: $sc-main-navigation-submenu-background-color;
  display: none;
  position: absolute;
  left: 0;
  min-height: 150px;
  z-index: 1003;
  // margin-top: 8px;
  padding: $sc-padding-lv5 0;
  border-top: 1px solid $sc-main-navigation-link-hover-background-color;
  @include box-shadow(
    6px 6px 12px transparentize($sc-neutral-shade-500, 1-0.175)
  );

  // >li {
  //     @extend .container;
  // }
}

//Menu Opened
.open {
  .header-menu-level-container {
    display: block;
  }
  .header-menu-level1-anchor {
    color: $sc-main-navigation-link-active-color;
    background-color: $sc-main-navigation-link-active-background-color;

    .header-menu-level1-anchor-icon {
      color: $sc-main-navigation-link-active-color;
      @include rotate(180deg);
    }
  }
}

//TT new styles

// Header Menu Container
div.header-secondary-wrapper {
  background-color: transparent;
  border: none;
  text-transform: none;

  @media (min-width: $screen-md-min) {
    width: 100%;
    //background-color: $sc-main-navigation-background-color;
    background-color: #3c896d;
    height: auto;
    // float: left;
    position: initial;
  }

  @media (max-width: $screen-md-min) {
    z-index: 10;
  }
}

// Header Nav. Links
nav.header-menu-secondary-nav {
  @extend .container;

  padding: 0 10px;
  position: relative;
  font-size: $sc-font-size-m;

  > ul.header-menu-level1 {
    > li.header-menu-level1-anchor {
      padding: 0;

      // Menu Link
      > a {
        padding: 0 $sc-padding-lv1 * 4;
        margin-right: 0;
        font-weight: $sc-font-weight-normal;
        color: $sc-main-navigation-link-color;
        text-transform: uppercase;

        @media (min-width: $screen-md-min) {
          padding: $sc-padding-lv1 $sc-padding-lv1 * 2;
        }
      }

      // Dropdown Menu Link
      a[data-toggle="dropdown"] {
        &:after {
          @extend .fa;
          content: "\f107";
          top: 0px;
          border: none;
          right: 0;
          left: auto;
          margin-left: 7px;
          font-size: $sc-font-size-m;
          margin-top: 19px;
          //float: right;
          position: relative;
          display: inline-block;
        }

        &:hover {
          color: $sc-color-theme;
        }
      }

      &:hover,
      &:focus,
      &:visited {
        background-color: $sc-main-navigation-link-color;

        > a {
          color: $sc-color-theme;
        }
      }

      &.open {
        color: $sc-color-theme;

        a[data-toggle="dropdown"] {
          color: $sc-color-theme;

          &:after {
            content: "\f106";
          }
        }
      }
    }
  }

  > ul.header-menu-ecommerce {
    float: right;
    width: auto;
    height: auto;

    @media (max-width: $screen-md-max) {
      display: none;
    }

    li {
      float: left;
      width: auto;
      height: auto;

      a {
        font-size: $sc-font-size-s;
        float: left;
        text-transform: $sc-main-navigation-link-text-transform;
        margin-left: $sc-margin-lv5;
      }

      &.shoplist {
        a {
          color: $sc-color-primary;
          text-transform: $sc-main-navigation-link-text-transform;
          line-height: $header-menu-level1-height;
        }
      }

      &.quickorder {
        a {
          @extend .button-primary;
          @extend .button-small;
          margin-top: $sc-margin-lv2 + 3px;
        }
      }
    }
  }
}

// Dropdown container
ul.header-menu-level-container {
  position: absolute;
  top: $header-menu-level1-height;
  min-height: 0;
  text-align: left;
  padding: 0;

  > li {
    width: 250px;
    border: none !important;

    .header-menu-block {
      border: none;
      position: relative;

      &:hover .header-menu-level3 {
        display: block;
      }
    }
  }
}
